/* TODO ESTO LO GENERA EL SOFTWARE KOALA */

/* Define standard variables and values for website */
/*

Variables are a way to store information that you can re-use later.

With Sass, you can store information in variables, like:

strings
numbers
colors
booleans
lists
nulls

Sass uses the $ symbol, followed by a name, to declare variables:

*/
/*

Sass Nested properties

Many CSS properties have the same prefix, like

font-family, font-size and font-weight or text-align, text-transform and text-overflow.

With Sass you can write them as nested properties:

font: {
    family: Helvetica, sans-serif;
    size: 18px;
    weight: bold;
  }
  
  text: {
    align: center;
    transform: lowercase;
    overflow: hidden;
  }

  */
/* Use the variables */
body {
  background-color: lightblue;
  color: darkblue;
  font-size: 18px; }

div {
  height: 100px;
  width: 50%; }

div.red {
  border: solid 1px red; }

div.yellow {
  border: solid 1px yellow; }

/*

Sass Mixins
The @mixin directive lets you create CSS code that is to be reused throughout the website.

The @include directive is created to let you use (include) the mixin.

*/
/* Defining a Mixin


A mixin is defined with the @mixin directive.

Sass @mixin Syntax:

@mixin name {
  property: value;
  property: value;
  ...
}

The following example creates a mixin named "important-text":

*/
/*

Tip: A tip on hyphens and underscore in Sass: Hyphens and underscores are considered to be the same.

This means that @mixin important-text { } and @mixin important_text { } are considered as the same mixin!

*/
/*

Using a Mixin

The @include directive is used to include a mixin.

Sass @include mixin Syntax:

selector {
  @include mixin-name;
}
So, to include the important-text mixin created above:

*/
.danger {
  color: red;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid blue;
  background-color: green; }

/*

The Sass transpiler will convert the above to normal CSS:

CSS output:

.danger {
  color: red;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid blue;
  background-color: green;
}

A mixin can also include other mixins:

SCSS Syntax:

@mixin special-text {
  @include important-text;
  @include link;
  @include special-border;
}

*/
/*

Passing Variables to a Mixin

Mixins accept arguments. This way you can pass variables to a mixin.

Here is how to define a mixin with arguments:

SCSS Syntax:

/* Define mixin with two arguments */
.myArticle {
  border: 1px solid blue; }

.myNotes {
  border: 2px solid red; }

/*

Notice that the arguments are set as variables and then used as the values (color and width) of the border property.

After compilation, the CSS will look like this:

CSS Output:

.myArticle {
  border: 1px solid blue;
}

.myNotes {
  border: 2px solid red;
}

*/
/*

Default Values for a Mixin

It is also possible to define default values for mixin variables:

SCSS Syntax:

*/
/*

Then, you only need to specify the values that change when you include the mixin:

SCSS Syntax:

*/
.myTips {
  border: 1px solid orange; }

/*

Using a Mixin For Vendor Prefixes

Another good use of a mixin is for vendor prefixes.

Here is an example for transform:

SCSS Syntax:

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

.myBox {
  @include transform(rotate(20deg));
}

After compilation, the CSS will look like this:

CSS Output:

.myBox {
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
}

*/

/*# sourceMappingURL=style.css.map */
